
<!DOCTYPE html>
<html>
<head>
	<title>my page</title>
	<style type="text/css">
	.presonal-details{
	background-color: lightblue;

}
li{
	text-shadow: -1px -1px 1px rgb(10,20,30), 1px 1px 1px rgb(30,200,10);
	color: rgb(100,20,50);

}
h2{
	color: rgb(100,150,255);
	text-shadow: 3px 3px 0px rgb(255,100,10), 5px 5px 0px rgb(100,255,255);
	font: 40px 'BazarMedium';
	letter-spacing: 10px;
}
.skill{
	background-color: lightblue;

}
.Achivements{
	background-color: lightblue;

}
.hobbies{
	background-color: lightblue;

}
.Declaration{
	background-color: lightblue;

}
img{
	border-radius: 50%;
	max-height: 150px;
	max-width: 200px;
	width: 120px;
	height: 120px; 
}
.profile{
	background-color: rgb(0,50,50); 
}

</style>
</head>
<body>
	<div class="profile">
		<center>
		<img src="https://www.searchpng.com/wp-content/uploads/2019/02/Men-Profile-Image-PNG-715x657.png">
		</center>
	</div>
	<div class="presonal-details">
		<h2>Personal Details</h2>
		<ul>
			<li>Name: {{name}}</li>
			<li>Email: {{email}}</li>
			<li>Phone No: {{email}}</li>
			<li>Sex: {{gender}}</li>
			<li>DOB: {{dateofbirth}}</li>
			<li>Maritial Status: {{maritalStatus}}</li>
			<li>Address</li>
			<ul>
				<li>{{address}}</li>
				<li>City: {{city}}</li>
				<li>District: Patana</li>
				<li>Pin Code: {{pincode}}</li>
				<li>State: {{state}}</li>
				<li>Country: {{country}}</li>
			</ul>


		</ul>

	</div>
	<div class="skill">
		<h2>Skills</h2>
		<ul>
			<li>{{skill}}</li>
		</ul>
		
	</div>
	<div class="Achivements">
		<h2>Achivements</h2>
		<ul>
			<li>{{achievement}}</li>
		</ul>
	</div>
	<div class="hobbies">
		<h2>Hobbies</h2>
		<ul>
			<li>{{hobby}}</li>
		</ul>
	</div>
	<div class="Declaration">
		<h2>Declaration</h2>
		<ul>
			<li>{{declaration}}</li>
		</ul>
	</div>


</body>
</html>